@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Lobster+Two:ital,wght@0,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;

  color: #282c34;
  font-family: 'Lobster Two', cursive;
}

.productsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 75px 0;
}